@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans';
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: calc(100% - 48vw) calc(100% - 40vh), 45vw 44vh;
    background-color: hsl(185, 75%, 39%);
}

#container{
    background-image: url(images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    width: 330px;
    height: 355px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

.victor{
    width: 29%;
    border-radius: 50%;
    border: 5px white solid;
    margin-top: 91px;
}

header{
    display: flex;
}

h1{
    font-size: 17px;
    margin: 15px 10px 7px 100px;
    opacity: 80%;
}

h3{
    font-size: 13px;
    font-weight: 400;
    opacity: 60%;
    margin-bottom: 22px;
}

header h2{
    font-size: 17px;
    font-weight: 400;
    opacity: 60%;
    margin-top: 15px;
}

footer{
    display: flex;
    border-top: 1.5px hsla(0, 0%, 0%, 0.08) solid;
}

#follow{
    margin-left: 45px;
    margin-right: 45.5px;
}

#likes{
    margin-right: 55px;
}

footer h2{
    margin-top: 22.5px;
    font-size: 16px;
    letter-spacing: 1px;
}

footer h4{
    font-size: 10px;
    font-weight: 500;
    margin-top: 4px;
    letter-spacing: 1px;
    opacity: 50%;
}

@media screen and (max-width: 376px) {
    body{
        background-position: calc(100% - 40vw) calc(100% - 60vh), 45vw 44vh;
    }
}